*,
    *::after,
    *::before {
      box-sizing: border-box;
    }
html{
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:antiquewhite;
}
h2{
    text-align: center;
    font-size: 2rem;
}
h3,h4{
    text-align: center;
}
div{
    background-color:cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: .5rem;
    padding: .5rem;   
    border-radius: .5rem;

}